* {
  box-sizing: border-box;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 10px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.page {
  display: none;
}
.page.active {
  display: block;
}

.footer {
  background-color: #579a88;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 99%;
}

@media only screen and (min-device-width: 480px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* info */

/* update */
.intbl {
  border: 0;
  font-weight: normal;
}

#updatetable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #updatetable td, #updatetable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #updatetable tr:nth-child(1){
    background-color: rgb(217, 217, 217) !important;
  }

  #updatetable tr:nth-child(odd){background-color: #f2f2f2;}
    
  #updatetable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: normal;
  }


/* adminimport */
