<!DOCTYPE html>
<hmtl lang="en">
    <head>
        <style>
            label {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <form class="form-inline" method="post">
            <h2>login</h2>
            <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username">
            </div>

            <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">
            </div>

            <div>
            <button type="submit">Login</button>
            </div>
        </form>
    </body>
</hmtl>