<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- header -->
    <div class="row" style="background:#579a88; height: auto;">
        <div class="col-1"></div>
        <div class="col-5" style="align-items:center; padding: 10px;">
            <img img src="../static/McGill-CS.png" width="auto" height="auto">
        </div>
        <div class="col-1"></div>
        <div class="col-5" style="align-items:center; padding: 10px;">
            <h1 style="color: white;">TA Administration</h1>
        </div>
    </div>

    <!-- menu bar -->
    <div class="row" style="background:#b2e1d4; height:auto">
        <div class="col-1"></div>
        <div class="col-10" style="align-items:center; padding: 10px;">
            <a href="{{ url_for('admin.info') }}">
                <font size="4"><b>TA INFO<b>&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.courseinfo') }}">
                <font size="4"><b>COURSE INFO<b>&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.update') }}">
                <font size="4"><b>UPDATE TA INFO&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.adminimport') }}">
                <font size="4"><b>IMPORT&emsp;&emsp;</b></font>
            </a>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- import -->
    <!-- Course Quota -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Import Course Quota. Please upload a .csv file.</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUploadCQ" />
                <input type="submit" name="submit" value="Upload Course Quota" />
                <div id="dvCSV"></div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- TA Cohort -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Import TA Cohort. Please upload a .csv file.</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUploadC" />
                <input type="submit" name="submit" value="Upload TA Cohort" />
                <div id="dvCSV"></div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- Historial stats -->
    <!-- Ugrad TA -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Import Historical Statistics for Undergraduate TA. Please upload a .csv file.</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUploadU" />
                <input type="submit" name="submit" value="Upload Ugrad TA Info" />
                <div id="dvCSV"></div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- Grad TA -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Import Historical Statistics for Graduate TA. Please upload a .csv file.</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUploadG" />
                <input type="submit" name="submit" value="Upload Grad TA Info" />
                <div id="dvCSV"></div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- Historical Data -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Import TA Info History. Please upload a .csv file.</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUploadH" />
                <input type="submit" name="submit" value="Upload Historical Info" />
                <div id="dvCSV"></div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- error and success messages -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <br><br><br><br>

    <!-- footer -->
    <div class="row footer">
        <div class="col-1"></div>
        <div class="col-7" style="padding-top: 15px;">
            <a><b>Back to Dashboard</b></a>
        </div>
        <div class="col-3" style="align-items: center; padding: 10px;">
            <font color="#b2e1d4" size="2">
                <div align="right">
                    Copyright @ 2022.<br>
                    All Rights Reserved.
                </div>
            </font>
        </div>
        <div class="col-1"></div>
    </div>
</body>

<script>
    function dispfilename() {
        
    }
</script>

</html>