<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- header -->
    <div class="row" style="background:#579a88; height: auto;">
        <div class="col-1"></div>
        <div class="col-5" style="align-items:center; padding: 10px;">
            <img img src="../static/McGill-CS.png" width="auto" height="auto">
        </div>
        <div class="col-1"></div>
        <div class="col-5" style="align-items:center; padding: 10px;">
            <h1 style="color: white;">TA Administration</h1>
        </div>
    </div>

    <!-- menu bar -->
    <div class="row" style="background:#b2e1d4; height:auto">
        <div class="col-1"></div>
        <div class="col-10" style="align-items:center; padding: 10px;">
            <a href="{{ url_for('admin.info') }}">
                <font size="4"><b>TA INFO<b>&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.courseinfo') }}">
                <font size="4"><b>COURSE TA INFO<b>&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.update') }}">
                <font size="4"><b>UPDATE TA INFO&emsp;&emsp;</b></font>
            </a>
            <a href="{{ url_for('admin.adminimport') }}">
                <font size="4"><b>IMPORT&emsp;&emsp;</b></font>
            </a>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- TA info & history -->
    <div class="row" style="height:auto">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>TA Information</h2>
            <!-- input tid -->
            <form method="POST">
                <table class="intbl" >
                    <tr>
                        <td> TA Student ID (e.g. 260000000): </td>
                        <td colspan="2"><input type="text" name="tid"></td>
                        <td><input type="submit" name="submit" value="Search TA"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <!-- search results -->
    <div class="row" style="height:auto;">
        <div class="col-1"></div>
        <div class="col-10">
            <!-- TA Cohort Info -->
            {% for row in cohort %}
            <h4 style="margin: 5px;">TA Information for {{ row[0] }}</h4>
            <table class="cohortinfotbl">
                <tr>
                    <th> TA Name: </th>
                    <td> {{ row[1] }}</td>
                </tr>
                <tr>
                    <th> Student ID: </th>
                    <td> {{ row[2] }}</td>
                </tr>
                <tr>
                    <th> Legal Name: </th>
                    <td> {{ row[3] }}</td>
                </tr>
                <tr>
                    <th> Email: </th>
                    <td> {{ row[4] }}</td>
                </tr>
                <tr>
                    <th> Is Ugrad: </th>
                    {% if row[5] == 1 %}
                    <td> Yes </td>
                    {% else %}
                    <td> No </td>
                    {% endif %}
                </tr>
                <tr>
                    <th> Supervisor: </th>
                    <td> {{ row[6] }}</td>
                </tr>
                <tr>
                    <th> Priority: </th>
                    {% if row[7] == 1 %}
                    <td> Yes </td>
                    {% else %}
                    <td> No </td>
                    {% endif %}
                </tr>
                <tr>
                    <th> Hours: </th>
                    <td> {{ row[8] }}</td>
                </tr>
                <tr>
                    <th> Date Applied: </th>
                    <td> {{ row[9] }}</td>
                </tr>
                <tr>
                    <th> Location: </th>
                    <td> {{ row[10] }}</td>
                </tr>
                <tr>
                    <th> Phone: </th>
                    <td> {{ row[11] }}</td>
                </tr>
                <tr>
                    <th> Degree: </th>
                    <td> {{ row[12] }}</td>
                </tr>
                <tr>
                    <th> Courses Applied: </th>
                    <td> {{ row[13] }}</td>
                </tr>
                <tr>
                    <th> Open to Other Courses: </th>
                    {% if row[14] == 1 %}
                    <td> Yes </td>
                    {% else %}
                    <td> No </td>
                    {% endif %}
                </tr>
                <tr>
                    <th> Notes: </th>
                    <td> {{ row[15] }}</td>
                </tr>
            </table>
            <br>
            {% endfor %}

            <!-- Student Average Ratings -->
            {% if dispr == True %}
            <h4 style="margin: 5px;"> Student Ratings</h4>
            <table class="infotbl">
                <tr>
                    <th> Term </th>
                    <th> Course </th>
                    <th> Average Rating </th>
                </tr>
                {% for row in ratings %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if dispr == False %}
            <h4> No Student Rating </h4>
            {% endif %}
            <br>

            <!-- Student Comments -->
            {% if dispc == True %}
            <h4 style="margin: 5px;"> Student Comments</h4>
            <table class="infotbl">
                <tr>
                    <th> Term </th>
                    <th> Course </th>
                    <th> Comments </th>
                </tr>
                {% for row in comments %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if dispc == False %}
            <h4> No Student Comment </h4>
            {% endif %}
            <br>

            <!-- Prof Performance Log -->
            {% if displ == True %}
            <h4 style="margin: 5px;"> Prof Performance Log </h4>
            <table class="infotbl">
                <tr>
                    <th> Term </th>
                    <th> Course </th>
                    <th> Instructor </th>
                    <th> Comments </th>
                </tr>
                {% for row in log %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                    <td> {{ row[3] }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if displ == False %}
            <h4> No Prof Performance Log </h4>
            {% endif %}
            <br>

            <!-- Prof Wishlist -->
            {% if dispw == True %}
            <h4 style="margin: 5px;"> Wishlists </h4>
            <table class="infotbl">
                <tr>
                    <th> Term </th>
                    <th> Course </th>
                    <th> Prof </th>
                </tr>
                {% for row in wishlist %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if dispw == False %}
            <h4> Not On Any Wishlit </h4>
            {% endif %}
            <br>

            <!-- Courses Assigned -->
            {% if dispa == True %}
            <h4 style="margin: 5px;"> Courses Assigned </h4>
            <table class="infotbl">
                <tr>
                    <th> Term </th>
                    <th> Course </th>
                </tr>
                {% for row in courses %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if dispa == False %}
            <h4> No Courses Assigned </h4>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>

     <!-- error and success messages -->
     <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <br><br><br><br>

    <!-- footer -->
    <div class="row footer">
        <div class="col-1"></div>
        <div class="col-7" style="padding-top: 15px;">
            <a href="{{ url_for('admin.dashboard') }}">
                <font size="4"><b>Back to Dashboard<b>&emsp;&emsp;</b></font>
            </a>
        </div>
        <div class="col-3" style="align-items: center; padding: 10px;">
            <font color="#b2e1d4" size="2">
                <div align="right">
                    Copyright @ 2022.<br>
                    All Rights Reserved.
                </div>
            </font>
        </div>
        <div class="col-1"></div>
    </div>
</body>

</html>