<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <script>
            function hideAll(){
                var elements = document.getElementsByClassName("page");
                for(var i = 0; i<elements.length; i++){
                    elements[i].style.display = "none";
                }
            }
            function loadUsers(){
                hideAll();
                document.getElementById("p1").style.display = "block";
            }
            function loadImport(){
                hideAll();
                document.getElementById("p3").style.display = "block";
            }
            function loadInput(){
                hideAll();
                document.getElementById("p2").style.display = "block";
            }

            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className == "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
                var list = document.getElementById("listMenu");
                list.style="block";
            }
    
        
        </script>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <!-- header -->
        <div class="row" style="background:#579a88; height: auto;">
            <div class="col-1"></div>
            <div class="col-5" style="align-items:center; padding: 10px;">
                <img img src="../static/McGill-CS.png" width="auto" height="auto">
            </div>
            <div class="col-1"></div>
            <div class="col-5" style="align-items:center; padding: 10px;">
                <h1 style="color: white;">System Operator Tasks</h1>
            </div>
        </div>
        <div class="row" style="background:#b2e1d4; height:auto">
            <div class="col-1"></div>
            <div class="col-10" style="align-items:center; padding: 10px;">
                <a onclick="loadUsers()"><font size="4"><b>Users&emsp;&emsp;</b></font></a>
                <a onclick="loadImport()"><font size="4"><b>Import&emsp;&emsp;</b></font></a>
                <a onclick="loadInput()"><font size="4"><b>Input&emsp;&emsp;</b></font></a>
            </div>
        </div>
        <br>
        <!-- user management-->
        <div class="page active" id="p1">
        <div class="row" style="height:auto">
            <div class="col-1"></div>
            <div class="col-10"><h2>Users Management</h2></div>
        </div>
        <div class="row" style="height:auto">
            <div class="col-1"></div>
            <div class="col-10">
            <form method="POST">
                <table border="0">
                    <tr>
                        <td><label>Firstname:</label></td> 
                        <td colspan="2"><input type="text" name="firstname"></td>
                    </tr>
                    <tr>
                        <td><label>Lastname:</label></td> 
                        <td colspan="2"><input type="text" name="lastname"></td>
                    </tr>
                    <tr>
                        <td><label>StudentID:</label></td> 
                        <td colspan="2"><input type="text" name="studentid"></td>
                    </tr>
                    <tr>
                        <td><label>Username:</label></td> 
                        <td colspan="2"><input type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td> 
                        <td colspan="2"><input type="text" name="password"></td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td colspan="2"><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td colspan="1">Login as:</td>
                        <td colspan="2" style="padding: 15px;">
                            <input type="radio" name="role1" value="Student">
                            <label for="Student">Student</label>
                            <input type="radio" name="role2" value="Prof">
                            <label for="Prof">Prof</label>
                            <input type="radio" name="role3" value="Sysop"> 
                            <label for="Sysop">Sysop</label>
                            <input type="radio" name="role4" value="Admin">
                            <label for="Admin">Admin</label>
                            <input type="radio" name="role5" value="TA">
                            <label for="TA">TA</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="submit" value="Edit"></td>
                        <td><input type="submit" name="submit" value="Add"></td>
                        <td><input type="submit" name="submit" value="Remove"></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
        </div>
        <!-- input profs and courses -->
        <div class="page" id="p2">
        <div class="row" style="height:auto">
            <div class="col-1"></div>
            <div class="col-10"><h2>Manually Input Profs and Courses Info.</h2></div>
        </div>
        <div class="row" style="height:auto">
            <div class="col-1"></div>
            <div class="col-10">
            <form method="POST">
                <table border="0">
                    <tr>
                        <td><label>Term-Year:</label></td> 
                        <td colspan="2"><input type="text" name="term_month_year"></td>
                    </tr>
                    <tr>
                        <td><label>Course Number:</label></td> 
                        <td colspan="2"><input type="text" name="course_num"></td>
                    </tr>
                    <tr>
                        <td><label>Course Name:</label></td>
                        <td colspan="2"><input type="text" name="course_name"></td>
                    </tr>
                    <tr>
                        <td><label>Instructor Assigned Name:</label></td>
                        <td colspan="2"><input type="text" name="instructor_assigned_name"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="padding-top:20px;" align="right"><input type="submit" name="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
        </div>
        <!-- import csv file -->
        <div class="page" id="p3">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Import .csv File for Profs and Courses Info.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <form method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUpload"/>
                <input type="submit" name="submit" id="upload" value="Upload"/>
                </form>
                <hr/>
                <div id="dvCSV"></div>
            </div>
        </div>
        </div>
        
        <!-- error and success messages -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class=flashes>
                    {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>

        <br><br><br>
        <!-- footer -->
        <div class="row footer">
            <div class="col-1"></div>
            <div class="col-7" style="padding-top: 15px;">
                <a><b>Back to Dashboard</b></a>
            </div>
            <div class="col-3" style="align-items: center; padding: 10px;">
                <font color="#b2e1d4" size="2">
                    <div align="right">
                        Copyright @ 2022.<br>
                        All Rights Reserved.
                    </div>
                </font>
            </div>
        </div>
    </body>
</html>
